:root {
    --primario: #16A34A; /* Azul */
    --background: #F0FDF4;
  }
header{
    font-family: sans-serif!important;
}
.navbar .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar .container-fluid .buscador_container{
    width: 40%;
    
}
.ul_container ul{
    align-items: center;
    justify-content: space-around;
    width: 90%;
}
.ul_container .boton_ver_mapa{
    background-color: var(--background);
    font-weight: 400;
    border: 1px #dee2e0 solid;
    
}
.ul_container .boton_ver_mapa a{
    padding: 0;
}
.ul_container ul li .boton_nueva_publicacion{
    background-color: var(--primario);
    font-weight: 400;
    border: 1px #dee2e0 solid;
    color: white;
}
.ul_container ul li .btn_name_user{
        background-color: var(--primario);
        color: white;
        
}
.ul_container ul li .btn_contacto{
    background-color: var(--background);
    font-weight: 400;
    border: 1px #dee2e0 solid;
    
}
.ul_container ul li .btn_contacto a{
    padding: 0;
}
.ul_container ul li{
    font-weight: 500;
}
.navbar .ecorecicla_log{
    font-weight: 700;
    color: var(--primario);
}
body{
    font-family: sans-serif;
}
:root {
    --primario: #16A34A; /* Azul */
    --background: #F0FDF4;
  }
main{
    background-color: var(--background);
}
.row .col-md-12 .filtro_container .btn{
    background-color: white;
    border: 1px #dee2e0 solid;
}
.filtro_container .btn.active {
    background-color: var(--primario); /* Color verde cuando está activo */
    color: white; /* Color del texto cuando está activo */
}
.botones_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botones_container .boton_ver_mapa:hover{
    background-color: var(--primario);
    color: white;
}
